/* \\wsl$/Ubuntu/home/abbie/code/codecademy/colmar-academy/index.html */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: dimgray;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  float: left;
}
div {
  position: relative;
}
.hold {
  height: 80px;
}
.header {
  line-height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}
.header img {
  position: relative;
  float: left;
  height: 100%;
  margin-top: 24px;
}
div #logo {
  position: relative;
  float: left;
  height: 100%;
  width: 170px;
  margin-left: 24px;
}
#colmar {
  float: right;
  position: relative;
}
.dimgray {
  color: dimgray;
}
.lightgray {
  color: lightgray;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.nav li {
  float: right;
  position: relative;
}

ul.nav li a {
  font-size: 18px;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
.learn {
  background-color: lightgray;
  display: inline;
}
.left {
  background-color: lightgray;
  width: auto;
}
.left img {
  width: 60%;
  margin: 32px 24px;
}
.right {
  color: dimgray;
  text-align: center;
  height: 100%;
  background-color: lightgray;
  width: 40%;
}
h1 {
  font-size: 64px;
}

.btn {
  background-color: dimgray;
  text-align: center;
}
button {
  padding: 8px;
  font-size: 28px;
  width: 30%;
  margin-bottom: 50px;
  border: black 1px;
  color: white;
}
